* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	position: sticky;
	background: rgb(19, 19, 19);
	width: 100%;
	box-shadow: 0px 5px 5px black;
}

nav {
	text-align: center;
}

.portfolio {
	color: rgb(221, 221, 221);
	height: 60px;
	line-height: 60px;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 43px;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}

.portfolio-color {
	text-align: center;
	color: rgb(221, 70, 70);
	letter-spacing: 2px;
	font-size: 43px;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
}

.toggle {
	position: absolute;
	top: 1.2rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;
}

.toggle .line {
	height: 3px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
}

@media (max-width: 600px) {
	.toggle {
		display: flex;
	}
	.nav-links {
		display: none;
		width: 100%;
	}
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.nav-links ul {
		flex-direction: column;
		width: 100%;
	}

	.nav-links li {
		text-align: center;
	}
	.nav-links li a {
		padding: 0.8rem 1rem;
	}

	.nav-links.active {
		display: flex;
	}
}

body {
	font-family: sans-serif;
	background: rgb(39, 39, 39);
}

.contact-item {
	padding-top: 50px;
}

.contact-item a {
	font-size: 70px;
	padding: 15px;
}

section {
	min-height: 100vh;
}

body h1 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	margin-top: 150px;
	font-size: 4.2rem;
	padding-left: 5%;
	padding-right: 5%;
	color: rgb(255, 255, 255);
}

body h2 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	padding: 50px;
	font-size: 30px;
	color: rgb(255, 255, 255);
}

body h3 {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	padding: 50px;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 20px;
}

body h3 a {
	text-decoration: none;
	font-weight: lighter;
	color: rgb(255, 255, 255);
}

.container {
	text-align: center;
	margin-top: 20px;
}

.btn {
	border: 3px solid rgb(221, 70, 70);
	border-radius: 9px;
	background: none;
	padding: 10px 20px;

	border-radius: 9px;
	cursor: pointer;
	font-size: 45px;
	font-family: sans-serif;
	transition: 0.4s;
	margin: 18px;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background: rgb(221, 70, 70);
	transition: 0.4s;
}

.btn a {
	color: rgb(221, 70, 70);
	text-decoration: none;
}
.btn a:hover {
	color: rgb(219, 219, 219);
}

li {
	display: list-item;
}
.contact-list {
	list-style: none;
}

.contact-link {
	color: #fff;
	text-decoration: none;
	font-size: 30px;
}

.touch {
	position: relative;
	background: rgb(78, 78, 78);
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgb(219, 219, 219);
}

.touch::after {
	content: "";
	position: absolute;
}

.touch h1 {
	margin-top: 0;
	font-size: 30px;
	padding-top: 20px;
}

form {
	margin-top: 50px;
	text-align: center;
}

.form-control {
	width: 400px;
	padding: 0.5rem 1rem;
	border: 1px solid rgb(0, 0, 0);
	outline: none;
	border-bottom: 1px solid rgb(190, 190, 190);
	border-radius: 6px;
	color: rgb(0, 0, 0);
	font-size: 18px;
	margin-bottom: 16px;
}

textarea {
	resize: none;
}

input {
	height: 45px;
}

form .submit {
	background: rgb(221, 70, 70);
	color: rgb(255, 255, 255);
	border: 2px solid rgb(221, 70, 70);
	border-radius: 9px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 90px;
}

form .submit:hover {
	background: none;
	border-radius: 9px;
	cursor: pointer;
	transition: 0.2s;
}

footer {
	padding: 2px;
	padding-bottom: 10px;
	background: rgb(19, 19, 19);
	text-align: center;
	color: rgb(190, 190, 190);
	font-family: "Courier New", Courier, monospace;
	border-top: 1px solid rgb(190, 190, 190);
}

.footer-item {
	margin-bottom: 20px;
	font-size: 15px;
}

.footer-contact {
	display: inline-block;
	padding-right: 10px;
}

.footer-link {
	color: rgb(221, 70, 70);
}
